<app-loader [isLoading]="isLoading"></app-loader>
<div class="content" *ngIf="!isLoading">
  <div class="questions-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <h3>Question</h3>

        <button
          class="btn btn-danger d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#questionsNav"
          aria-controls="questionsNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="questionsNav">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link text-primary"
                (click)="updateHandler()"
                title="Update"
                ><i class="fas fa-sync fa-2x"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-warning"
                [routerLink]="['/questions/update', question?.id]"
                title="Update"
                ><i class="fas fa-edit fa-2x"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-danger"
                (click)="deleteQuestionHandler(question?.id)"
                title="Delete"
                ><i class="fas fa-trash fa-2x"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <h3>{{ question?.title }}</h3>
  <br />
  <p>Type: {{ question?.type }}</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Content</th>
        <th scope="col">IsCorrect?</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let answer of question?.answers"
        routerLink="/answers/{{ answer.id }}"
      >
        <td scope="row">{{ answer.id }}</td>
        <td>{{ answer.content }}</td>
        <td>{{ answer.isCorrect }}</td>
        <td>
          <a
            class="mx-2 text-danger"
            (click)="deleteAnswerHandler(answer?.id)"
            title="Delete"
            ><i class="fas fa-trash fa-2x"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="question?.answers?.length == 0" class="text-center text-danger">
    No answers for this question!
  </p>
  <app-answer-create
    [questionId]="!question ? 0 : question.id"
    (isUpdated)="updateHandler()"
  ></app-answer-create>
</div>
