<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Bootstrap Sidebar</h3>
  </div>

  <ul class="list-unstyled components">
    <p>Dummy Heading</p>
    <li class="active">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li>
      <a [routerLink]="['/exams']">Exams</a>
    </li>
    <li>
      <a [routerLink]="['/questions']">Questions bank</a>
    </li>
    <li>
      <a
        href="#pageSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Pages</a
      >
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

  <ul class="list-unstyled CTAs text-center">
    <li>Quizy</li>
    <li class="mt-2">All rights reserved</li>
  </ul>
</nav>
